@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--clr-primary);
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--clr-primary) 40%, var(--clr-white));
  border-radius: 4px;
}

::placeholder {
  letter-spacing: normal;
  color: var(--clr-primary);
  font-weight: 500;
  opacity: 0.2;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  letter-spacing: 0.01em;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: currentColor;
}
