.rating {
  --size: 40px;
  --halfSize: calc(var(--size) / 2);
  border: none;
  display: inline-grid;
  grid-template-columns: repeat(5, var(--halfSize) var(--halfSize) 4px);
  direction: rtl;

  input {
    display: none;
  }

  label {
    border-radius: 50%;
    background-image: var(--cardBgGradient);
    box-shadow: var(--cardBoxShadow);
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    aspect-ratio: 1 / 1;

    display: grid;
    place-items: center;

    &.half {
      transform: translateX(var(--halfSize));
      clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    }

    &::before {
      content: "\f005";
      font-family: fontAwesome;
      font-size: calc(26 / 40 * var(--size));
      aspect-ratio: 1 / 1;
      background: linear-gradient(333deg, #bfc3cf 144%, #e5e6eb -76%);
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
    }
  }
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > :is(label:hover, label:hover ~ label) /* hover current star */ {
  &:before {
    background: linear-gradient(136deg, #04acbb -50%, #264a9f 152%);
  }
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  &:before {
    opacity: 0.6;
  }
}
