.rating {
  --size: 40px;
  --halfSize: calc(var(--size) / 2);
  border: none;
  display: inline-grid;
  grid-template-columns: repeat(5, var(--halfSize) var(--halfSize) 4px);
  direction: rtl;

  input {
    display: none;
  }

  label {
    border-radius: 50%;
    background-image: var(--cardBgGradient);
    box-shadow: var(--cardBoxShadow);
    cursor: pointer;
    width: var(--size);
    aspect-ratio: 1 / 1;

    display: grid;
    place-items: center;

    &.half {
      transform: translateX(var(--halfSize));
      clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    }

    .star {
      width: calc(26 / 40 * var(--size));
      height: calc(26 / 40 * var(--size));
      fill: url(#greyStar);
    }
  }
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > :is(label:hover, label:hover ~ label) /* hover current star */ {
  .star {
    fill: url(#blueStar);
  }
} /* hover previous stars in list */

.rating > :is(input:checked ~ label:hover, input:checked ~ label:hover ~ label), /* hover current star when changing rating */
.rating > label:hover ~ input:checked ~ label /* lighten current selection */ {
  .star {
    opacity: 0.7;
  }
}
