$cardBgGradient: var(--cardBgGradient);
$cardBoxShadow: var(--cardBoxShadow);
$starBoxWH: 2.5rem;
$starWH: 26px;
$emptyStarBg: linear-gradient(333deg, #bfc3cf 144%, #e5e6eb -76%);
$fullStarBg: linear-gradient(136deg, #04acbb -50%, #264a9f 152%);

.rating {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  border: none;

  input {
    display: none;
  }
}

.rating label {
  border-radius: 50%;
  box-shadow: $cardBoxShadow;
  background-image: $cardBgGradient;
  cursor: pointer;
  width: $starBoxWH;
}

.rating label::before {
  content: "\f005";
  font-family: fontAwesome;
  font-size: $starWH;
  background: $emptyStarBg;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.rating label:hover::before,
.rating label:hover ~ label::before,
.rating input:checked ~ label::before {
  background: $fullStarBg;
}
