.rating {
  --size: 40px;
  border: none;

  input {
    display: none;
  }

  label {
    border-radius: 50%;
    box-shadow: var(--cardBoxShadow);
    background-image: var(--cardBgGradient);
    cursor: pointer;
    width: var(--size);
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;

    .star {
      width: calc(26 / 40 * var(--size));
      height: calc(26 / 40 * var(--size));
      fill: url(#greyStar);
    }
  }
}

.rating > input:checked ~ label,
.rating:not(:checked) > :is(label:hover, label:hover ~ label) {
  .star {
    fill: url(#blueStar);
  }
}

.rating > :is(input:checked ~ label:hover, input:checked ~ label:hover ~ label), /* hover current star when changing rating */
.rating > label:hover ~ input:checked ~ label /* lighten current selection */ {
  .star {
    opacity: 0.7;
  }
}

.rating:not(.partial) {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 4px;
}

.rating.partial {
  --halfSize: calc(var(--size) / 2);
  display: inline-grid;
  grid-template-columns: repeat(5, var(--halfSize) var(--halfSize) 4px);
  direction: rtl;

  label.half {
    transform: translateX(var(--halfSize));
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  }
}
